---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <body>
      <a href="/">Home</a>
      <a href="/about/">About</a>
      <a href="/blog/">Blog</a>

      <h1>About Me</h1>
      <h2>Hi, I'm Michael</h2>

      <p>
        I'm a web developer and software engineer, and I built this blog using <a
          href="https://astro.build/"
          target="_blank">Astro</a
        >.
      </p>

      <p>
        The source code for this website is available on <a
          href="https://github.com/michaelmandic/astro-blog"
          target="_blank">GitHub</a
        >.
      </p>
    </body>
  </body>
</html>
