---
const { platform, username } = Astro.props;
---

<a href={`https://${platform}.com/${username}`} target="_blank">{platform}</a>

<style>
  a {
    color: #00c777;
    text-decoration: none;
  }
</style>
